/* Top navigation */
.topnav {
  background-color: hsl(260, 57%, 51%);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  position: fixed;
  width:100%;
  max-width: 1440px;
  height: 77px;
  top:0;
  left:0;
  padding: 26px 80px;
  z-index: 1000;
}

.topnav img {
margin-right: auto;
}

.topnav a {
  width: auto; /* Adjusted to auto */
  height: 17px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin-right: 28px;
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
.topnav {
    padding: 20px 60px;
}
.search,
.desktop {
  flex-direction: column; 
  align-items: flex-start;
}
}

@media screen and (max-width: 1200px) {
.topnav {
    padding: 15px 40px;
}
.bg img {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  left: 0px;
  top: 0px;
  }

  .box {
  left: 100px;
  top: 220px;
  width: 460px;
  height: 226px;
  padding: 20px 32px 24px;
}

.box p {
  font-size: 14px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 20px;
  text-align: left;
}


.box button {
  width: 180px;
  height: 34px;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 12px;
}

.search,
.desktop {
  flex-direction: column; 
  align-items: flex-start; 
}

.foot {
  padding: 20px 0 10px;
}

.right-section {
  margin-right: 80px;
}

.faq {
  margin-top: 10px;
}

.accordion-item {
  width: 748px;
}

.text h3 {
  font-size: 24px;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
.text p {
  font-size: 14px;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}

}

@media screen and (max-width: 768px) {
.topnav {
    padding: 10px 20px;
}
.box {
  width: 80%; 
  max-width: 400px; 
  left: 50%; 
  transform: translateX(-50%); 
  padding: 20px;
  top: 50%; 
  margin-top: -200px; 
  text-align: center; 
}

box p {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.box button {
  width: 150px;
  height: 30px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 12px;
}

.bg img {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  left: 0px;
  top: 0px;
  }

.search,
.desktop {
  flex-direction: column; 
  align-items: flex-start; 
}

.foot {
  padding: 10px 0;
}

.right-section {
  margin-right: 20px;
}

.faq {
  margin-top: 5px;
}

.accordion-item {
  width: 728px;
}

.text h3 {
  font-size: 20px;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
.text p {
  font-size: 12px;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}

}

@media screen and (max-width: 375px) {
.topnav {
    padding: 10px 10px;
}
.bg img {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  left: 0px;
  top: 0px;
  }
  .box {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    max-width: 300px; 
    padding: 16px; 
    text-align: center;
}

.box p {
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
.box button {
  width: 120px;
  height: 28px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 10px;
}

.search,
.desktop {
  flex-direction: column; 
  align-items: flex-start; 
}

.foot {
  padding: 10px 0;
}

.right-section {
  margin-right: 10px;
}

.faq {
  margin-top: 2px;
}

.accordion-item {
  width: 358px;
}

.text h3 {
  font-size: 16px;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}
.text p {
  font-size: 10px;
  width: auto;
  margin-left: 0;
  margin-right: 0;
}

}

/* Image */
.bg {
width: 100%;
  max-width: 1440px;
  height: 700px; 
  top: 77px; 
  left: 0;
 
}

.bg img {
position: absolute;
width: 100%;
height: 700px;
object-fit: cover;
left: 0px;
top: 0px;
}
/*caption on the image*/
.box{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 40px 32px;
gap: 20px;
position: absolute;
width: 630px;
height: 306px;
left: 80px;
top:280px;
background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%), #FFFFFF;
}

.box p{  
width: 556px;
height: 192px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: -0.02em;
text-transform: capitalize;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin-left: 40;
margin-right: 34;
margin-top: 24;

}

.box button{
display: flex;
align-items: center; 
justify-content: center; 
padding: 12px 20px;
gap: 8px;
width: 214px;
height: 38px;
background: #F28D35;
border: none;
border-radius: 4px;
color: white; 
font-weight: bold;
margin-left: 40;
margin-top: -30;
white-space: nowrap;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: -0.02em;

flex: none;
order: 0;
flex-grow: 0;

}

/* desktop frame*/
.desktop {
display: flex;
justify-content: center; 
align-items: center; 
margin-top: 10px; 
}

.desktop img {
width: 414px;
height: 414px;
flex: none;
}

.text {
margin-left: 20px; 
text-align: left; 
}

.text h3 {
width: 507px;
height: 33px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 33px;
letter-spacing: 0.4px;
color: #6B3CC9;
}

.text p{
width: 542px;
height: 76px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.text button{
display: flex;
align-items: center; 
justify-content: center; 
padding: 12px 20px;
gap: 8px;
width: 129px;
height: 38px;
background: #F28D35;
border: none;
border-radius: 4px;
font-weight: bold;
margin-top: -10;
white-space: nowrap;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: -0.02em;
color: #FFFFFF;
}

/*search framework*/

.search {
display: flex;
justify-content: center;
align-items: center; 
margin-top: 20px; 
margin-bottom: 20px;
}

.search img {
width: 414px;
height: 414px;
flex: none;
}

.text h3 {
width: 507px;
height: 33px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 33px;
letter-spacing: 0.4px;
color: #6B3CC9;
}

.text p{
width: 542px;
height: 76px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.search button{
display: flex;
align-items: center; 
justify-content: center; 
padding: 12px 20px;
gap: 8px;
width: 129px;
height: 38px;
background: #F28D35;
border: none;
border-radius: 4px;
font-weight: bold;
margin-top: 10;
white-space: nowrap;
font-family: 'Inter',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 100%;
letter-spacing: -0.02em;
color: #FFFFFF;
}

.search,
.desktop {
display: flex;
justify-content: center; /* Center items horizontally */
align-items: center; /* Center items vertically */
margin-top: 10px; /* Adjust margin as needed */
}

.search img,
.desktop img {
width: 414px;
height: 414px;
flex: none;
}

.text {
margin-left: 70px; 
text-align: left; 
}

/*accordation*/
.faq {
display: flex;
flex-direction: column; /* Arrange items in a column */
justify-content: center; /* Center items horizontally */
align-items: center; /* Center items vertically */
margin-top: 20px; 
}

.faq h3 {
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 33px;
letter-spacing: 0.4px;
color: #6B3CC9;
}


.accordion {
margin-top: -30;
max-width: 400px;
display: flex;
flex-direction: column; 
align-items: center;
}

.accordion-item {
overflow: hidden; 
}

.accordion-item:nth-child(1) {
border: none; 
background-color: #FAF8FF; 
margin-bottom: 20px;
width: 798px;
height: auto; 
}

.accordion-item:nth-child(2) {
border: none; 
background-color: #FAF8FF; 
margin-bottom: 20px;
width: 798px;
height: auto; 
}

.accordion-item:nth-child(3) {
border: none; 
background-color: #FAF8FF; 
margin-bottom: 20px;
width: 798px;
height: auto; 
}

.accordion-heading {
background-color: #FAF8FF;
padding: 10px;
cursor: pointer;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 28px;
color: #000000;
}

.accordion-content {
display: none; 
width: 100%; 
padding: 10px; 
background-color: #FAF8FF;
border: none; 
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
color: #6F6C90;
text-align: left;
}

.accordion-item.active .accordion-content {
display: block; 
}

.active .accordion-heading {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 28px;
color: #6B3CC9;
}

.active .plus-sign::before {
content: "-";
}

.plus-sign::before {
content: "+";
float: right;
}

/*footer*/
.foot {
width: 100%;
background: #6B3CC9;
padding: 40px 0 20px;
z-index: 1000;
margin: 0; 
overflow-x: hidden; 
}

.foot footer {
display: flex;
align-items: center; 
justify-content: space-between;
max-width: 100%; 
padding: 0 80px; 
}

.foot img {
margin-right: 20px;
}

.foot p {
margin-top: 0;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}

.right-section {
display: flex;
}

.sec1,
.sec2 {
margin-top: -60px; 
margin-right: 120px;
}

h6 {
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
margin-bottom: 12px;
}

ul {
list-style: none;
padding: 0;
margin: 0;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}

li {
margin-bottom: 10px;
}

.sec3 {
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
margin-top: 20px;
}

hr {
width: 630px;
height: 0px;
border: 1px solid #FFFFFF;
}

.sec3 p {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;
width: 257px;
height: 17px;
margin-bottom: 0;
flex: none;
order: 1;
flex-grow: 0;
}
